
# APP_NAME="piSpot"
# APP_VERSION="0.0.2"
# APP_STATE="dev" # alpha, beta, stable, dev
# APP_DATE="16.07.2025"


[Unit]
Description=Run piSpots dnsmasq.restarter, after NetworkManager started dnsmasq is ready
After=network-online.target NetworkManager.service
Wants=network-online.target

[Service]
Type=simple

# __TWEAKTARGETDNS__ will be replaced by the install script.
ExecStart=__TWEAKTARGETDNS__
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
#Alias=dnsmasq-restarter.service

APP_VERSION="0.0.3"
APP_STATE="dev"
APP_DATE="17.07.2025"
